<h1>User Info</h1>
<table>
  <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
  <tr>
    <th>name</th>
    <td><%= current_user.name %></td>
  </tr>
  <tr>
    <th>introduction</th>
    <td><%= current_user.introduction %></td>
  </tr>
  <tr>
    <td><%= link_to "editbutton", edit_user_path(@user.id) %></td>
  </tr>
</table>
<span>New Book</span>
<span>Title</span>
<a href="#">Opinion</a>

<span>Books index</span>

<%= link_to "log out", destroy_user_session_path, method: :delete %>