<div class='row'>
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'users/info', user: @book.user %>
    <h2>New book</h2>
    <%= render 'form', book: Book.new %>
  </div>

  <div class='col-xs-9'>
      <h2>Book detail</h2>
      <table class="table">
        <tr class="book_<%= @book.id %>">
          <%= render 'books/detail' book: @book %>
        </tr>
      </table>
      <%# comment_index %>
      <table>
        <% @book.post_comments.each do |post_comment| %>
          <tr class="comment">
            <td><%= attachment_image_tag post_comment.user , :profile_image, :fill, 100, 100, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size: "50x50"%>
            <br/><%= link_to post_comment.user.name, user_path(post_comment.user) %></td>
            <td class="comment-text">
            <%= post_comment.comment %></td>
            <% if post_comment.user == current_user %>
            <td><%= link_to "Destroy", book_post_comment_path(post_comment.book, post_comment), method: :delete, class: "btn btn-danger pull-right" %></td>
          <% end %>
          </tr>
        <% end %>
      </table>
      <%# comment_index_end %>
      <!-- <form class="mt-20"> -->
      <%= form_for [@book, @post_comment] do |f| %>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
          </div>
        </div>
        <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
      <% end %>
      <!-- </form> -->
    </div>
  </div>
