<div class="container">
  <div class="row">
    <%= render 'users/sidebar', user: @book_show.user, book: @book %>
    <div class="col-xs-9">
      <h2>Book detail</h2>
      <table class="table">
        <tr>
          <td><%= attachment_image_tag @book_show.user , :profile_image, :fill, 100, 100, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg" %>
          <br/><%= link_to @book_show.user.name, user_path(@book_show.user) %></td>
          <td><%= @book_show.title %></td>
          <td><%= @book_show.body %><td>
          <% if current_user.id == @book_show.user_id %>
            <td><%= link_to 'Edit', edit_book_path(@book_show.id), class:"btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', book_path(@book_show.id), method: :delete, "data-confirm" => "本当に消しますか?", class:"btn-sm btn-danger" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>